header {
  background: $yellow;
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
  }
  img{
    width: 30px;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    img{
      width: 50px;
    }
  }
  .social{
    display: flex;
    justify-content: space-between;
    width: 130px;
    img{
      height: 30px;
    }
  }
}
